h1{
    text-align: center;
}
.headline
{
    text-align: left;
}

.btn-grosso{
    margin-top: -0.4px;
    height: 49px;
}

.bottoneBello
{
    margin-top: 15px;
}

.prova
{
    width: 100px;
}
h3
{
    margin-top: 15px;
}

.immagine
{
    width: 100px;
    right: 50%;
    margin-top: 40px;
}
.stelle
{
    margin-top: 7px;
}
.contenitore_scelta
{
    height: 100px;
    width: 100%;  
    margin-top: 18px;
    text-align: right;
}

.contenitoreCartoline
{
    margin-top: 55px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.contenitoreCartoline ca
{
    align-items: center;
    
}
destra
{
    margin-left: 350px;
    text-align: center;
}



@media only screen and (max-width: 800px) {
    #mapid
    {   
    border:2%;
    height: 100%;
    width: 100%;    
    position: fixed;
    }
  }

  @media only screen and (min-width: 801px) {
    #mapid
    {   
    border:2%;
    height: 100%;
    width: 41.8%;    
    position: fixed;
    }
  }


.test{
    text-align: center;
}

.mapContainer{
    border: 0;
    margin: 0;
    padding: 0;    
}

.lente
{
    margin-top: 15px;
}
.lente img
{
    margin-top: 15px;
    opacity: 0.2;
}

.lente 
{
    margin-top: 15px;
}
.lente img
{
    margin-top: 15px;
    opacity: 0.2;
}
.testoRicerca
{
    margin-top: 30%;
    opacity: 0.3;
}
.stelle
{
    align: left;
}
.like
{
    color:red ;
    text-align: left;
}
.cartolina
{
    max-height: 210px;
}
.imgTraveller{    
    margin-bottom: 0px;
}
