<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139164354-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-139164354-1');
  </script>

  <link rel="icon" type="image/png" sizes="32x32" href="../web/images/favicon-32x32.png">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href='../../web/style.css' rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8">
</head>

<body>
  <div id="app" style="text-align:center">
    <v-app>
      <v-layout>
        <v-flex xs12 sm6 offset-sm3>
          <v-card>
            <h1>Login Travello</h1>
            <v-container grid-list-md text-xs-center>
              <v-layout>
                <v-flex xs4>
                </v-flex>
                <v-flex xs4>
                  <v-flex xs12 md12>
                    <v-text-field v-model="mail" :rules="nameRules" label="e-mail" required>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md12>
                    <v-text-field v-model="password" :rules="nameRules" label="password" required>
                    </v-text-field>
                  </v-flex>
                </v-flex>
                <v-flex xs4>
                </v-flex>                
              </v-layout>
              <v-btn block color="secondary">Log-in</v-btn>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-app>
  </div>

  <!--script space-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="../../web/script.js"></script>
  <!--<script src="scriptMap.js"></script>-->
</body>

</html>